<?xml version="1.0"?>
<model>
  <name>WAM-V</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <sdf version="1.9">model_waves.sdf</sdf>

  <author>
    <name>Open Robotics</name>
  </author>

  <author>
    <name>ArduPilot SITL_Models contributors</name>
  </author>

  <description>
    Minimal WAM-V surface vehicle adapted from the Gazebo Sim surface vehicles
    tutorial for ArduPilot Gazebo JSON SITL.

    Original source:
    https://gazebosim.org/api/sim/8/surface_vehicles.html
    https://github.com/gazebosim/gz-sim/blob/gz-sim8/tutorials/files/surface_vehicles/gz_maritime_ws.zip

    Original assets are from gazebosim/gz-sim and are licensed Apache-2.0.
    See LICENSE in this model directory.

    ArduPilot:
    Vehicle type: Rover
    Frame class: Boat / skid steering differential thrust
  </description>
</model>
