
<?xml version='1.0'?>
<model>
  <name>WAM-V ASV FFT Waves</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    FFT surface waves adapted from asv_wave_sim for WAM-V SITL demos.
  </description>
</model>
